

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


* {
    font-family      : "Nunito";
  -webkit-box-sizing : border-box;
          box-sizing : border-box;
}

h1 {
  text-align : center;
}

body {
  font-family : sans-serif;
}

footer {
    border: 1px solid black;
}

.social_links{
    color: royalblue;
}
.gallery {
   background : #FAFAFA;
}

.gallery-cell {
   width        : 100%;
   margin-right : 10px;
   background   : orange;
}

/* fade in image when loaded */
.gallery-cell-image {
   display            : block;
   max-height         : 100%;
   margin             : 0 auto;
   /* If using natural size of images for the size of cells, set a min-width to cells have a size when images are not loaded. */
   min-width          : 250px;
   max-width          : 100%;
   opacity            : 0;
   -webkit-transition : opacity 0.4s;
           transition : opacity 0.4s;
}

/* fade in lazy loaded image */
.gallery-cell-image.flickity-lazyloaded,
.gallery-cell-image.flickity-lazyerror {
   opacity : 1;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    color: black;
    padding: 12px 22px;
}
.btn-default.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-default.outline:hover, .btn-default.outline:focus, .btn-default.outline:active, .btn-default.outline.active, .open > .dropdown-toggle.btn-default {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-default.outline:active, .btn-default.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/***********************
  CUSTOM BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    border-radius : 0;
    font-weight: 700;
    letter-spacing: 1px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

/* Social Links */


.github {}
.linkedin {
    color : #007BB6;
}
.codepen {}
.twitter{
    color : #00ACED;
}
.google-plus {
    color : #DD4B39
}
.stack-exchange {}
.stack-overflow {}

.facebook {
    color : #3B5998;
}
.instagram {
    color : #517FA4
}