/* ==========================================================================
   Using HTML5 Elements in Non-HTML5 Browsers, unknown elements are styled as display:inline by default
   ========================================================================== */
section, article, aside, footer, header, nav, hgroup {
    display : block;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

h1, h2, h3, h4, h5, h6 {
    font-family : 'Roboto', sans-serif;
    font-weight : 700;
}

.site-heading {
    font-family : 'Raleway', sans-serif;
    font-weight : 800;
}

header {
    background-color : #BDC3C7;
    height : auto;
}

a {
    color : #000000;
    font-family : 'Droid Sans', sans-serif;
    font-weight : 400;

}

p {
    font-family : 'Nunito', sans-serif;
    font-weight : 300;
}

body {
    background-color : #E4F1FE;
}

.social-header {
    padding-right: 25px;
}

.container-fluid {
    border-radius : 0;
    height        : auto;
}

.jumbotron {
    border-radius : 0;
    margin-bottom : 0;
}



/* ==========================================================================
   NAVBAR STYLES
   ========================================================================== */

.navbar {
    background-color : #19B5FE;
    border           : 0;
}

.navbar-inverse {
    background-image : none;
    border-radius    : 0;
}

.navbar-header {
    padding-left : 10px;
}

/***********************
 PORTFOLIO FLICKITY SLIDER STYLES
************************/

.gallery {
   background : #ECECEC;
}

.gallery-cell {
   width        : 100%;
   margin-right : 10px;
}

/* fade in image when loaded */
.gallery-cell-image {
   display            : block;
   max-height         : 100%;
   margin             : 0 auto;
   /* If using natural size of images for the size of cells, set a min-width to cells have a size when images are not loaded. */
   min-width          : 250px;
   max-width          : 100%;
   opacity            : 0;
   -webkit-transition : opacity 0.4s;
           transition : opacity 0.4s;
}

/* fade in lazy loaded image */
.gallery-cell-image.flickity-lazyloaded,
.gallery-cell-image.flickity-lazyerror {
   opacity : 1;
}

/***********************
 WORK EXPERIENCE SECTION
 ************************/

.work-experience {
    height: auto;
    background-color: teal;
    padding : 10px;
}

/***********************
 BUTTON STYLES
 ************************/

.btn {
    border-radius  : 0;
    font-weight    : 700;
    letter-spacing : 1px;
    margin         : 2px 0 2px 0;
    padding        : 7px 12px;
}

.btn-default {
    background-image : none;
    border-radius    : 0;
    text-shadow      : none;
}
.btn-group > .btn {
    float : none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline : 0 none;
}

/**********************
 FOOTER AND SOCIAL STYLES
 **********************/

.footer-upper {
    background-color : greenyellow;
    padding          : 10px;
    width            : 100%;
}

.footer-middle {
    background-color : orangered;
    padding          : 10px;
    width            : 100%
}

.skype {
    color : #12A5F4;
}

.linkedin {
    color : #007BB6;
}

.google-plus {
    color : #DD4B39
}

.twitter{
    color : #00ACED;
}

.footer-lower {
    background-color : #19B5FE;
    padding          : 10px;
    width            : 100%;
}

.copyright {
    position: relative;
}