/* ==========================================================================
   Using HTML5 Elements in Non-HTML5 Browsers, unknown elements are styled as display:inline by default
   ========================================================================== */
section, article, aside, footer, header, nav, hgroup {
    display : block;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.no-gutter > [class*='col-'] {
    padding-right : 0;
    padding-left  : 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family : 'Roboto', sans-serif;
    font-weight : 700;
}

i.fa {
  display: inline-block;
}

.site-heading {
    font-family  : 'Raleway', sans-serif;
    font-weight  : 800;
    padding      : 10px;
}

header {
    background-color : #BDC3C7;
    height           : auto;
}

a {
    color       : #000000;
    display     : block;
    font-family : 'Droid Sans', sans-serif;
    font-weight : 400;
    white-space : nowrap;

}

p {
    font-family : 'Nunito', sans-serif;
    font-weight : 300;
}

body {
    background-color : #BDC3C7;
}

.social-header {
  overflow: hidden;
  padding : 40px 28px 40px 0px;
}


.container-fluid .jumbotron {
  border-top-right-radius    : 0px;
  border-top-left-radius     : 0px;
  border-bottom-right-radius : 0px;
  border-bottom-left-radius  : 0px;
}

.container-fluid {
    height : auto;
}

.jumbotron {
  background-color : #BDC3C7;
  margin-bottom : 0;
}

/* ==========================================================================
   NAVBAR STYLES
   ========================================================================== */

.navbar {
    background-color : #19B5FE;
    border           : 0;
}

.navbar-inverse {
    background-image : none;
    border-radius    : 0;
}

.navbar-header {
    padding : 10px;
}

/***********************
 PORTFOLIO FLICKITY SLIDER STYLES
************************/

.gallery {
    background-color: black;
    height : auto;
}

.gallery-cell {
   height : auto;
   width        : 100%;
   margin-right : 10px;
}

/* fade in image when loaded */
.gallery-cell-image {
   display            : block;
   max-height         : 100%;
   margin             : 0 auto;
   /* If using natural size of images for the size of cells, set a min-width to cells have a size when images are not loaded. */
   min-width          : 250px;
   max-width          : 100%;
   opacity            : 0;
   -webkit-transition : opacity 0.4s;
           transition : opacity 0.4s;
}

/* fade in lazy loaded image */
.gallery-cell-image.flickity-lazyloaded,
.gallery-cell-image.flickity-lazyerror {
   opacity : 1;
}

/***********************
 WORK EXPERIENCE SECTION
 ************************/
.work {
  background-color  : #BDC3C7;
  height            : auto;
  padding           : 0 0 0 10px;
  width             : 100%;
}

.work-title {
    height            : auto;
    background-color  : #9b59b6;
    margin            : 0;
    padding           : 30px 0 30px 30px;
}

.work-projects {
  /*padding : 0 0 0 30px;*/
}

.company-egg {
  padding: 0 0 0 20px;
}

/***********************
 BUTTON STYLES
 ************************/

.btn {
    border-radius  : 0;
    font-weight    : 700;
    letter-spacing : 1px;
    margin         : 2px 0 2px 0;
    padding        : 7px 12px;
}

.btn-default {
    background-image : none;
    border-radius    : 0;
    text-shadow      : none;
}
.btn-group > .btn {
    float : none;
}

/**********************
 FOOTER AND SOCIAL STYLES
 **********************/

.footer-upper {
  background-color : #f1c40f;
  height           : auto;
  margin-top       : 60px;
  padding          : 10px 0px 10px 30px;
}

.footer-middle {
  background-color : #3498db;
  height           : auto;
  padding          : 10px 0px 30px 30px;
}

.linkedin {
    color : #007BB6;
}

.google-plus {
    color : #DD4B39
}

.twitter{
    color : #00ACED;
}

.footer-lower {
    background-color : #BDC3C7;
    height           : auto;
    padding          : 100px 0px 10px 30px;
}

.tooltip-inner {
  width : 100%;
  color : #FF0000;
}

